
<div class="container py-4">
    <div class="col py-3">
        <h3>Qualcosa da dirci?</h3>
    </div>
    <form class="p-4 form-user-message" method="post" onsubmit="event.preventDefault()">
        <div class="mb-3">
            <strong>Email</strong>
            <input type="email" id="contact-email" class="d-block w-100" required />
            <span  class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Title</strong>
            <input type="text" id="contact-title" class="d-block w-100" required />
        </div>
        <div class="mb-3">
            <strong>Text</strong>
            <textarea type="text" rows="4" id="contact-text" class="d-block w-100" required></textarea>
        </div>
        <div class="text-end">
            <button onclick="sendMessage()" class="btn btn-small btn-info">Invia</button>
        </div>
    </form>
</div>


<script type="text/javascript">

    function sendMessage(event){
        axios.post("/api/UserMessages", {
            Email: document.querySelector("#contact-email").value,
            Title: document.querySelector("#contact-title").value,
            Text: document.querySelector("#contact-text").value

        }).then(res => {
            console.log("ok", res);
            
            if (res.data.status == "ok") {

                document.querySelector("#contact-email").value = "";
                document.querySelector("#contact-title").value = "";
                document.querySelector("#contact-text").value = "";

                alert("Messaggio inviato correttamente!")

            } else {
                alert("Errore: " + res.data.message)
            }

        }).catch(err => {

            console.log("ko", err); //TODO 
        })

    }

</script>