html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/**************************************/

/* utilities */
.top-20 {
    top: 20px;
}

.left-20 {
    left: 20px;
}

.h-main-body {
    height: 500px;
}

.contrast-text {
    color: white;
    background-color: rgb(0 0 0 / 42%); 
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

/**************************************/

/* main layout */

.bg-main {
    background-image: url(https://localhost:7009/images/pizza-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.bg-content {
    background-image: url(https://localhost:7009/images/img9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/**************************************/

/* cards */

.card-pizza-list, .table-pizza-list {
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
    border-radius: 12px;
}

.card-pizza-list {
    min-height: 200px;
    margin: 1rem;
    width: calc(33% - 2rem);
}

.card-pizza-details {
    max-width: 500px;
    min-width: 350px;
}

.card-popular-section{
    margin: 1rem;
    width: calc(50% - 2rem);
}

.img-card-detail {
    box-shadow: -4px -3px 45px 21px rgb(0 0 0 / 35%);
    border-radius: 50px;
    min-width: 500px;
    min-height: 340px;
}

/**************************************/


/* tables */

.table-pizza-list, .table-user-messages {
    background-color: ghostwhite;
}

/**************************************/

.translated-inner-card {
    padding: 2rem;
    position: absolute;
    left: 250px;
    top: 50px;
    width: 450px;
    color: white;
}

/* Form */
.form-create, form-edit, .form-user-message {
    background-color: lightblue;
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
    border-radius: 20px;
}

/**************************************/

/* footer */

.footer-social-links-container > a {
    text-decoration: none;
}

/**************************************/

/* js containers */

.js-container-popular {
    height: 450px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    position: absolute;
    left: 0;
    right: 0;
}

.js-container-index-home {
    height: 600px;
    overflow-y: scroll;
}

/**************************************/